/*stylelint-disable*/
@mixin aspect-ratio($width, $height) {
    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    & > .aspect-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin respond-to-min($name, $bp: $breakpoints) {
    $min: breakpoint-min($name, $bp);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src: url("@/assets/fonts/" + $name + ".woff") format("woff");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin hover {
    @media (hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            @content;
        }
    }
}

@mixin touch {
    @media (pointer: coarse) {
        @content;
    }
}

@mixin respond-ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin pulse($color: $base-0, $animation: circle-pulse, $radius: 50%) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity .3s;
    pointer-events: none;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: $radius;
        border: 1px solid rgba($color, .5);
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
    }

    &:before {
        animation: $animation 1.8s linear infinite;
    }

    &:after {
        animation: $animation 1.8s linear .4s infinite;
    }

    &:global {
        &:before {
            animation: $animation 1.8s linear infinite;
        }

        &:after {
            animation: $animation 1.8s linear .4s infinite;
        }
    }
}

@mixin actions-off {
    user-select: none;
    pointer-events: none;
}

@function pdf-diff($px) {
    @return #{"calc(" + $px + " * " + $pdf-diff + ")"};
}

/*stylelint-enable*/
